{
  "parser": "vue-eslint-parser",
  "extends": [
    "eslint:recommended",
    "plugin:vue/recommended"
  ],
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jquery": true,
    "amd": true,
    "commonjs": true
  },
  "rules": {
    "no-empty": 0,
    "no-alert": 2,
    "no-unused-vars":0,
    "no-console":0
  }
}
